/.settings/*
/*/.settings/*
/target/*
/*/target/*
/*/.classpath
/*/test-output/*
/*/dependency-reduced-pom.xml
/pom.xml.versionsBackup
/*/pom.xml.versionsBackup
/.idea/*
**/bin/
**/out/
/log/*
/logs/*
/microscope.iml

