<div id="left">
    <div class="trace-side">
        <form role="form" class="form-vertical span12" ng-submit="query()">
            <div class="form-group">
                <label class="control-label" for="app-list">APP</label>
                <select id="app-list" class="form-control input-sm" ng-model="queryApp" ng-change="bindTrace()"
                        ng-options="a for a in appList"></select>
            </div>
            <div class="form-group">
                <label class="control-label" for="ip-list">IP</label>
                <select id="ip-list" class="form-control input-sm" ng-model="queryIP" ng-change="query()"
                        ng-options="a for a in ipList"></select>
            </div>
            <div class="form-group" style="position: relative">
                <label class="control-label" for="trace-list">Trace</label>
                <!--<select id="trace-list" class="form-control input-sm" ng-model="queryTrace" ng-change="query()"-->
                <!--ng-options="a for a in traceList"></select>-->
                <input id="query-trace"
                       ui-autocomplete="traceList"
                       on-select="query()"
                       ng-model="queryTrace"
                       ignore-case="true"
                       class="form-control input-sm"
                       autocomplete="off"
                       type="text"/>
            </div>
            <div class="form-group">
                <label class="control-label" for="query-start-date">开始时间</label>
                <input ui-date-picker="dateOptions" ng-model="queryStartDate" id="query-start-date"
                       class="form-control input-sm" type="text"/>
            </div>
            <div class="form-group">
                <div class="bootstrap-timepicker">
                    <input ui-time-picker="timeOptions" ng-model="queryStartTime" class="form-control input-sm"
                           type="text"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="query-end-date">结束时间</label>
                <input ui-date-picker="dateOptions" ng-model="queryEndDate" id="query-end-date"
                       class="form-control input-sm" type="text"/>
            </div>
            <div class="form-group">
                <div class="bootstrap-timepicker">
                    <input ui-time-picker="timeOptions" ng-model="queryEndTime" class="form-control input-sm"
                           type="text"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="limit-count">显示数量</label>
                <input ng-model="limitCount" required ui-validate=" '$value > 0' " type="number"
                       class="form-control input-sm" id="limit-count"/>
            </div>
            <div class="form-group">
                <input class="btn btn-primary btn-block btn-sm" type="submit" ng-disabled="querying" value="查询"/>
            </div>
            <div class="side-loading"></div>
        </form>
    </div>
</div>
<div id="main">
    <div class="container-fluid">
        <div class="page-header">
            <div class="pull-left">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered table-service table-trace">
                        <thead>
                        <tr>
                            <th>Trace List</th>
                            <th style="width:150px" class="sorting"
                                ng-click="predicate = 'durationMicro'; reverse=!reverse;"
                                ng-class="{'sorting': predicate!='durationMicro', sorting_asc:predicate=='durationMicro' && reverse,sorting_desc:predicate=='durationMicro' && !reverse}">
                                耗时(ms)
                            </th>
                            <th style="width:150px" class="sorting"
                                ng-click="predicate = 'endTimestamp'; reverse=!reverse;"
                                ng-class="{'sorting': predicate!='endTimestamp', sorting_asc:predicate=='endTimestamp' && reverse,sorting_desc:predicate=='endTimestamp' && !reverse}">
                                开始时间
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat-start="result in resultList | orderBy:predicate:!reverse"
                            ng-click="showDetail(result.traceId)">
                            <td>
                                    <span class="service-tag" ng-repeat="(service, count) in result.serviceCounts">
                                        {{ service }}
                                        <b class="count" ng-show="count>1">{{ count }}</b>
                                    </span>
                            </td>
                            <td>
                                {{ result.durationMicro }}
                            </td>
                            <td>
                                {{ result.endTimestamp * 1000 | getDateTime}}
                            </td>
                        </tr>
                        <tr ng-repeat-end class="tr-nohover" id="{{'detail' + result.traceId}}">
                            <td colspan="3"></td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

    </div>
</div>
<script src="js/common/frame.js"></script>
