p,ul,div,input {
	margin:0;
	padding:0;
	font:14px 'Segoe UI',Optima,'Helvetica Neue',Helvetica,Arial,sans-serif,"Microsoft Yahei";

}
ul {
	list-style:none;
}
a {
	text-decoration:none;
	color:inherit;
}

/* commons */
.g-wrapper {
	width: 100%;
}
.g-wrapper a {
	text-decoration:none;
}
.g-wrapper .g-header {
	background: url("../img/report/b80.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
	height: 30px;
	width: 100%;
}
.g-wrapper .g-slider {
	margin-left: 200px;
}
.g-wrapper .g-slider li {
	float: left;
	margin: 2px auto;
	text-align: center;
	padding: 2px 18px;
	display: block;
	color:#FFF;
	font-size: 14px;
}

.g-slider li:hover {
	background:#695E53;
}
.g-left {
	position: absolute;
	left: 0px;
	top: 70px;
	width:200px;
	height:150%;
	background: #EEEEEE;
}

.g-left .m-menus li{
	padding: 16px 0px;
	font-size: 16px;
	font-weight:bold;
	cursor:pointer;
	text-transform:uppercase;
	text-align: center;
}

.g-left .m-menus li:hover {
	background:#DDDDDD;
	color: blue;
}

.m-menus .for-menu-1 {
	display:none;
}
.for-menu-1 span {
	margin-left: 52px;
	font-size: 13px;
	font-weight: normal;
}
.g-right {
	position:absolute;
	top:  110px;
	left: 200px;
	right: 10px;
	height: 100%;
	width: 89.5%;
	background: #fff;

}
#line-chart, #pie-chart {
	padding-left: 100px;
}
.g-bar {
	margin: 100px 0px 0px 2px;
	width: 100%;
}

