.gl_trace {
  padding: 0 20px;
  margin-top: 20px;
}

.query {
  padding-bottom: 15px;

}
.query label {

  font-weight: 400;
}

.filter {
  margin: 0 0 10px;
  line-height: 36px;
  background: #D9EDF7;
}

.filter .duration_1 {
  clear: both;
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 60px;
  text-align: center;
}

.filter .limit, .filter .duration, .filter .time {
  cursor: pointer;
}
.filter .limit .caret {
  border-color: #cecece transparent;
}
.filter .duration, .filter .time {
  text-align: center;
}
.filter .duration .current, .filter .time .current {
  color: #0aacff;
}
.filter .duration .icon-sort-down, .filter .time .icon-sort-down {
  margin-right: -8px;
  margin-left: 5px;
}
.filter .time .btn {
  float: right;
}

.form-group {
  margin:  10px 0px;
}
.group_1 {

  padding: 10px;
  margin-bottom: 20px;
  background-color: #EEEEEE;
  -moz-border-radius: 15px;      /* Gecko browsers */
  -webkit-border-radius: 15px;   /* Webkit browsers */
  border-radius:2px;            /* W3C syntax */
}

.group_1 .btn_1 {
  background:  #428BCA url(../img/report/icons.png) -38px 2px;
  width: 34px;
  height: 20px; 
  text-align: center;
  margin-left: 100px;
  list-style-type: none;
  border-style: none;
}

.list {
  padding: 0 15px;
  font: #FFFFFF;
}
.list > li {
  position: relative;
  padding: 10px 0;
  margin-bottom: 10px;
  border-radius: 3px;
  cursor: pointer;
}

.list > li .service {
  background-color: #999999;
  font-size: 12px;
  box-shadow: 1px 1px 0 0 rgba(255, 255, 255, 0.06), 1px 1px 1px 0 rgba(0, 0, 0, 0.3) inset;
}
.list > li:hover {
  background-color: #D9EDF7;

}
.list > li .count {
  background-color: #000;
  color: #FFFFFF;
}

.list > li .service {
  background-color: #999999;
  font-size: 12px;
  box-shadow: 1px 1px 0 0 rgba(255, 255, 255, 0.1), 1px 1px 1px 0 rgba(0, 0, 0, 0.4) inset;
}

.list .service {
  margin: 2px;
  border-radius: 3px;
  color: #FFFFFF;
}
.list .service .count {
  display: inline-block;
  padding: 2px 4px;
  margin-left: 3px;
  line-height: 14px;
  border-radius: 3px;
}
.list .time {
  text-align: right;
}
.list .timestamp {
  display: inline-block;
  width: 140px;
  padding-left: 36px;
}

.duration_2 {
  background: #C0DEED;
  margin: 2px 0px 4px 18px ;
  padding-left: 85%;
  -moz-border-radius: 15px;      /* Gecko browsers */
  -webkit-border-radius: 15px;   /* Webkit browsers */
  border-radius: 2px;            /* W3C syntax */
}
