.gl_trace {
  padding: 0 20px;
}
.query{
  background-color: rgba(30,30,30,0.4);
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0 0 5px 0 #000;
  label{
    color:#cecece;
    font-weight: 400;
  }
}
.filter{
  margin: 0 0 10px;
  background-color: rgba(30,30,30,0.4);
  color: #cecece;
  line-height: 36px;
  .limit, .duration, .time{
    cursor: pointer;
  }
  .limit{
    .caret{
      border-color:#cecece transparent;
    }
  }
  .duration, .time{
    text-align: center;
    .current{
      color: #0aacff;
    }
    .icon-sort-down{
      margin-right: -8px;
      margin-left: 5px;
    }
  }
  .time{
    .btn{
      float: right;
    }
  }
}
.list{
  padding: 0 15px;
  color: #cecece;
  &>li{
    position: relative;
    padding: 5px 0;
    margin-bottom: 10px;
    border-radius:3px;
    cursor:pointer;
    &:nth-child(odd){
      background-color: rgba(0, 0, 0, 0.2);
      box-shadow:2px 2px 2px 0 rgba(0,0,0,0.4);
      .service{
        background-color: #2a2a2a;
        box-shadow:1px 1px 0 0 rgba(255,255,255,0.06), 1px 1px 1px 0 rgba(0,0,0,0.3) inset;
      }
      &:hover{
        background-color: rgba(10, 72, 164, 0.2);
        box-shadow:2px 2px 3px 2px rgba(0,0,0,0.5);
      }
      .count{
        background-color: #000;
        color: #787878;
      }
    }
    &:nth-child(even){
      background-color: rgba(255, 255,255, 0.15);
      box-shadow:2px 2px 2px 0 rgba(0,0,0,0.26);
      .service{
        background-color: #454849;
        box-shadow:1px 1px 0 0 rgba(255,255,255,0.1), 1px 1px 1px 0 rgba(0,0,0,0.4) inset;
      }
      &:hover{
        background-color: rgba(159, 196, 253, 0.2);
        box-shadow:2px 2px 3px 2px rgba(0,0,0,0.4);
      }
      .count{
        background-color: #2a2a2a;
        color: #686868;
      }
    }





  }
  .service{
    margin: 2px;
    border-radius:3px;
    padding:2px 5px;
    .count{
      display: inline-block;
      padding: 2px 4px;
      margin-left: 3px;
      line-height: 14px;
      border-radius: 3px;
    }
  }
  .time{
    text-align: right;
  }
  .timestamp{
    display: inline-block;
    width: 140px;
    margin-left: 20px;
  }
}