<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans 
						   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						   http://www.springframework.org/schema/context
						   http://www.springframework.org/schema/context/spring-context-3.0.xsd" default-autowire="byType">
	
	<context:component-scan base-package="com.vipshop.microscope.alert.email">
	</context:component-scan>
	
	<bean id="mailSenderInfo" class="com.vipshop.microscope.alert.email.MailSenderInfo" >
		<property name="serverHost" value="mail.smtp.host"/>
		<property name="serverPort" value="587"/>
		<property name="validate" value="true"/>
		<property name="userName" value="andy19881006@gmail.com"/>
		<property name="password" value="andy1988"/>
		<property name="fromAddress" value="853994127@qq.com"/>
		<property name="toAddress" value="853994127@qq.com"/>
		<property name="timeout" value="25000"/>
		<property name="subject" value="this is a test mail"/>
		<property name="text" value="this is a test mail"/>
		<property name="filepath" value="E:\\Document\\LIR\\LIR_Tech_refresh.docx"/>
	</bean>
	
	<bean id="simpleMailSender" class="com.vipshop.microscope.alert.email.SimpleMailSender" />
	
	<bean id="javaMailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl" />
	
	<bean id="simpleMailMessage" class="org.springframework.mail.SimpleMailMessage" />
	
	<bean id="freemarkerConfiguration" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="templateLoaderPaths">
			<list>			
				<value>/mail/</value>
			</list>
		</property>
		<property name="freemarkerSettings">
			<props>
				<prop key="default_encoding">UTF-8</prop> 
				<prop key="output_encoding">UTF-8</prop>
				<prop key="locale">en_US</prop> 
				<prop key="number_format">#</prop>
				<prop key="whitespace_stripping">true</prop>
				<prop key="classic_compatible">true</prop>
			</props>
		</property>
	</bean>
	
</beans>
