<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                http://www.springframework.org/schema/context
                http://www.springframework.org/schema/context/spring-context-3.0.xsd
                http://www.springframework.org/schema/aop
                http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
                http://www.springframework.org/schema/jdbc
                http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
				http://www.springframework.org/schema/tx
                http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<context:component-scan base-package="com.vipshop.microscope.mysql.dao" />

	<context:property-placeholder location="classpath:jdbc.properties" />

	<!-- bean config for database and c3p0 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driverClassName}" />
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="user" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="idleConnectionTestPeriod" value="${pool.c3p0.idle_connection_test_period}" />
		<property name="preferredTestQuery" value="${pool.c3p0.preferred_test_query}" />
		<property name="maxIdleTime" value="${pool.c3p0.max_idle_time}" />
		<!-- 当连接池里面的链接用完的时候, c3p0一次性获取的连接数 -->
		<property name="acquireIncrement" value="${pool.c3p0.acquire_increment}" />
		<!-- 最大连接数 -->
		<property name="maxPoolSize" value="${pool.c3p0.max_size}" />
		<!-- 最小连接数 -->
		<property name="minPoolSize" value="${pool.c3p0.min_size}" />
	</bean>

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="get*" read-only="true" propagation="REQUIRED" />
			<tx:method name="find*" read-only="true" propagation="REQUIRED" />
			<tx:method name="get*" read-only="true" propagation="REQUIRED" />
			<tx:method name="save*" read-only="false" propagation="REQUIRED" />
			<tx:method name="update*" read-only="false" propagation="REQUIRED" />
			<tx:method name="remove*" read-only="false" propagation="REQUIRED" />
			<tx:method name="upload*" read-only="false" propagation="REQUIRED" />
		</tx:attributes>
	</tx:advice>

	<!-- <aop:config> <aop:pointcut id="transactionPointCuts" expression="execution 
		(* com.vipshop.pickit.service.service.*.*(..))" /> <aop:advisor pointcut-ref="transactionPointCuts" 
		advice-ref="txAdvice" /> </aop:config> -->

	<!-- Spring iBatis SqlMapClient -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="typeAliasesPackage"
			value="com.vipshop.microscope.mysql.report, com.vipshop.microscope.mysql.condition" />
	</bean>

	<!-- scan for mappers and let them be autowired -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.vipshop.microscope.mysql.dao" />
	</bean>
	
</beans>
