<link rel="stylesheet" type="text/css" href="css/ligerui-grid.css"/>
<link rel="stylesheet" type="text/css" href="css/report.css"/>
<div class="g-wrapper">
    <div class="g-header">
        <ul class="g-slider">
            <li><a href="javascript:;">女士</a></li>
            <li><a href="javascript:;">男士</a></li>
            <li><a href="javascript:;">儿童</a></li>
        </ul>
    </div>
    <div class="g-left">
        <ul class="m-menus">
            <li class="m-chart">报表1</li>
            <li class="for-menu-1">
                <span><a href="javascript:;" id="chart_1">调用来源分析</a></span>
            </li>
        </ul>
    </div>
    <div class="g-right">
            <div class="m-dashboard">
                <table>
                    <tr>
                        <td id="line-chart"></td>
                        <td id="pie-chart"></td>
                    </tr>
                    <tr>
                        <td id="column-chart"></td>
                    </tr>
                </table>
            </div>

            <div class="g-bar">
                <div id="zip_table"></div>
            </div>
    </div>
</div>

