<link rel="stylesheet" type="text/css" href="css/jquery.treeview.css"/>
<link rel="stylesheet" type="text/css" href="css/ligerui-grid.css"/>
<link rel="stylesheet" type="text/css" href="css/show.css"/>
<style type="text/css">


</style>
<div class='gl_gantt row'>
	<div id="gl_tab">
		<span><a href="javascript:;" id="overview">Overview</a></span>
		<span><a href="javascript:;" id="timeline">Timeline</a></span>
		<span><a href="javascript:;" id="dependencies">Dependencies</a></span>
	</div>
	<div class="clear"></div>
    <div class="overview_tree">
    	<table border="1" style="width:100%;">
    		<tr>
    			<th>URL</th>
    			<!--<th>状态</th>
    			<th>域</th> -->
    			<th>时间线</th>
    		</tr>
    		<tr>
    			<td style="width:500px;">
    				<ul class="gantt-nodes" id="browser">
						<li></li>
					</ul>
    			</td>
    			<!--<td style="width:50px;"></td>
    			<td style="width:50px;"></td> -->
    			<td>
    				<div class="graphic">

						<div class="gantt-scale">
							<div class="item" ng-repeat='item in ganntOption.arr'><span class="mark">{{item}}</span><div class="line"></div></div>
						</div>
						<ul class="gantt-chart">
							<li ng-repeat='i in spans'>
								<i class="gantt-bar gantt-bar-main" ng-style='i.style'>{{i.duration/1000 + "ms"}}</i>
							</li>
						</ul>
					</div>

    			</td>
    		</tr>
    	</table>

	</div>
	<div class="timeline_chart"></div>
	<div class="dep_tree"></div>
</div>

