<link rel="stylesheet" type="text/css" href="css/datepicker.css"/>
<link rel="stylesheet" type="text/css" href="css/timepicker.css"/>
<link rel="stylesheet" type="text/css" href="css/trace.css"/>
<div class="gl_trace">
	<div class="row">
		<div class="col-md-2 query">
			<form role="form" class="form-horizontal" ng-submit="reqCondition()">
				<div class="group_1">
					<div class="form-group">
						<label class="col-sm-2 control-label">app</label>
						<div class="col-sm-10">
							<select name="" class="form-control input-sm" ng-model="queryApp" ng-options="a for a in appList" ng-change="syncSelect()"></select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">trace</label>
						<div class="col-sm-10">
							<select name="" class="form-control input-sm" ng-model="queryTrace" ng-options="t for t in traceList"></select>
						</div>
					</div>
				</div>
				<div class="group_1">
					<div class="form-group">
						<label class="col-sm-12">开始时间</label>
						<div class="col-sm-6">
							<input ng-model="queryStartDate" data-date="{{ queryStartDate }}" class="query-start-date form-control input-sm" type="text"/>
						</div>
						<div class="col-sm-6 bootstrap-timepicker">
							<input class="query-start-time form-control input-sm input-sm col-sm-6" type="text"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-12">结束时间</label>
						<div class="col-sm-6">
							<input ng-model="queryEndDate" data-date="{{ queryEndDate }}" class="query-end-date form-control input-sm" type="text"/>
						</div>
						<div class="col-sm-6 bootstrap-timepicker">
							<input class="query-end-time form-control input-sm input-sm col-sm-6" type="text"/>
						</div>
					</div>
				
					<div class="form-group">
						<label class="col-sm-12" for="limit-count">显示数量</label>
						<div class="col-md-12">
							<input ng-model="limitCount" class="form-control input-sm" type="text" name="" id="limit-count"/>
						</div>
					</div>
				</div>
				<div class="group_1">
					<input class="btn btn-primary btn-block" type="submit" value="查询"/>
				</div>
				<!--<button type="button" ng-click="reqCondition()" class="btn btn-primary btn-block">查询</button>-->
			</form>
		</div>
		<div class="col-md-10 query-result">
			<div class="filter row">
				<!--<span class="duration_1">查询 4 条记录；花费 5000 毫秒的时间</span> -->
				<div class="duration col-md-1 col-md-offset-10" ng-click="predicate = 'durationMicro'; reverse=!reverse;">
					耗时<i class="icon-sort-down" ng-class="{current:predicate=='durationMicro' && !reverse}"></i><i
						class="icon-sort-up" ng-class="{current:predicate=='durationMicro' && reverse}"></i>
				</div>
				<div class="time col-md-1" ng-click="predicate = 'endTimestamp'; reverse=!reverse;">
					时间 <i class="icon-sort-down" ng-class="{current:predicate=='endTimestamp' && !reverse}"></i><i
						class="icon-sort-up" ng-class="{current:predicate=='endTimestamp' && reverse}"></i>
				</div>
			</div>

			<ul class="list list-unstyled">

				<li class="row" ng-repeat="result in resultList | orderBy:predicate:!reverse"
					ng-click="toShow(result.traceId)">
					<div class="duration_2"><span class="duration">{{ result.durationMicro/1000 }} ms</span><span class="timestamp">{{ result.endTimestamp | getTime }}</span></div>
					<ul class="col-md-10 list-inline">
						<li class="service" ng-repeat="(service, count) in result.serviceCounts">
							{{ service }}<span class="count" ng-show="(count > 1)">{{ count }} </span>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>